// Setup environment here
// openviduGlobal.enableProdMode();

export const env = {
    host: {
        backend: 'https://backend.livewidget.com',
        middleware: 'http://middleware.livewidget.com'
    },
    credentials: {
        consultant: {
            email: 'consultant@example.com',
            password: 'string'
        },
        client:  {
            email: 'anon@example.com',
            password: 'string'
        }
    }
};
